<igx-grid [data]="northwindProducts" primaryKey="productID" displayDensity="cosy" [rowEditable]="true" [allowFiltering]="true" filterMode="excelStyleFilter" class="grid">
  <igx-column field="productID" dataType="number" header="productID" width="274px" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="supplierID" dataType="number" header="supplierID" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="reorderLevel" dataType="number" header="reorderLevel" width="161px" [sortable]="true" [selectable]="false">
    <ng-template igxCell let-cell="cell">
      <div grid_slider_switch-scope class="row-layout group">
        <igx-slider [ngModel]="cell.value" [minValue]="0" [maxValue]="30" [step]="5" [secondaryTickLabels]="false" [secondaryTickLabels]="false" class="slider"></igx-slider>
      </div>
    </ng-template>
    <ng-template igxCellEditor let-cell="cell">
      <div grid_slider_switch-scope class="row-layout group_1">
        <igx-slider [(ngModel)]="cell.editValue" [continuous]="true" [minValue]="0" [maxValue]="30" [secondaryTickLabels]="false" [secondaryTickLabels]="false" class="slider"></igx-slider>
      </div>
    </ng-template>
  </igx-column>
  <igx-column field="discontinued" dataType="boolean" header="discontinued" [sortable]="true" [selectable]="false">
    <ng-template igxCell let-cell="cell">
      <igx-checkbox [checked]="ROWDATA:Checked" [indeterminate]="ROWDATA:Checked" grid_slider_switch-scope class="checkbox"></igx-checkbox>
    </ng-template>
    <ng-template igxCellEditor let-cell="cell">
      <igx-checkbox [checked]="ROWDATA:Checked" [indeterminate]="ROWDATA:Checked" grid_slider_switch-scope class="checkbox"></igx-checkbox>
    </ng-template>
  </igx-column>
  <igx-column field="quantityPerUnit" dataType="string" header="quantityPerUnit" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="categoryID" dataType="number" header="categoryID" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="unitPrice" dataType="number" header="unitPrice" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="unitsInStock" dataType="number" header="unitsInStock" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="unitsOnOrder" dataType="number" header="unitsOnOrder" [sortable]="true" [selectable]="false"></igx-column>
  <igx-column field="name" dataType="string" header="name" [sortable]="true" [selectable]="false"></igx-column>
</igx-grid>
